<%- include('parts/html-head') %>
<%- include('parts/navbar') %>

<div class="container">
    <table class="table table-striped table-bordered">
        <thead>
        <tr>
            <th scope="col">員工編號</th>
            <th scope="col">姓名</th>
            <th scope="col">年齡</th>
        </tr>
        </thead>
        <tbody>

        <%# for(let i of sales){ %>
        <% for(let i of sales){ %>
        <tr>
            <td><%= i.id %></td>

            <td><%= i.name %></td>
            <td><%= i.age %></td>
        </tr>
        <% } %>
        </tbody>
    </table>
</div>

<%- include('parts/scripts') %>
<%- include('parts/html-foot') %>