<style>
    li.nav-item.active {
        border: white 1px solid;
        border-radius: 5px;
    }
</style>
<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <div class="container">
        <a class="navbar-brand" href="#">Navbar</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item <%= pageName==='home' ? 'active' : '' %>">
                    <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item <%= pageName==='json-sales' ? 'active' : '' %>">
                    <a class="nav-link" href="/json-sales">json-sales</a>
                </li>
                <li class="nav-item <%= pageName==='ab/list' ? 'active' : '' %>">
                    <a class="nav-link" href="/address-book">通訊錄列表</a>
                </li>
                <li class="nav-item <%= pageName==='ab/add' ? 'active' : '' %>">
                    <a class="nav-link" href="/address-book/add">新增通訊錄</a>
                </li>
            </ul>

        </div>
    </div>
</nav>
<style>

</style>