<%- include('../parts/html-head') %>
<%- include('../parts/navbar') %>

<div class="container">
    <div class="row d-flex justify-content-center">
        <div class="col-md-6">

            <div id="info_bar" class="alert alert-success" role="alert" style="display: none"></div>

            <div class="card">

                <div class="card-body">
                    <h5 class="card-title">修改資料</h5>

                    <form name="form1" onsubmit="checkForm(); return false;">
                        <div class="form-group">
                            <label for="name">name</label>
                            <input type="text" class="form-control" id="name" name="name"
                                value="<%= row.name %>">
                            <small class="form-text"></small>
                        </div>
                        <div class="form-group">
                            <label for="email">email</label>
                            <input type="text" class="form-control" id="email" name="email"
                                   value="<%= row.email %>">
                            <small class="form-text"></small>
                        </div>
                        <div class="form-group">
                            <label for="mobile">mobile</label>
                            <input type="text" class="form-control" id="mobile" name="mobile"
                                   value="<%= row.mobile %>">
                            <small class="form-text"></small>
                        </div>
                        <div class="form-group">
                            <label for="birthday">birthday</label>
                            <input type="date" class="form-control" id="birthday" name="birthday"
                                   value="<%= row.birthday %>">
                            <small class="form-text"></small>
                        </div>
                        <div class="form-group">
                            <label for="address">address</label>
                            <textarea class="form-control" id="address"
                                      name="address" cols="50"
                                      rows="3"><%= row.address %></textarea>
                            <small class="form-text"></small>
                        </div>


                        <button type="submit" class="btn btn-primary">修改</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<%- include('../parts/scripts') %>
<script>
    const info_bar = $('#info_bar');

    function checkForm(){
        // 檢查資料格式

        const fd = new FormData(document.form1);

        fetch('', {
            method: 'POST',
            body: fd
        })
        .then(r=>r.json())
        .then(obj=>{
            console.log(obj);
            if(obj.success){
                info_bar.removeClass('alert-danger').addClass('alert-success');
                info_bar.html('修改成功');
                // setTimeout(()=>{
                //     location.href = '/address-book/';
                // }, 1000);
            } else {
                info_bar.removeClass('alert-success').addClass('alert-danger');
                info_bar.html(obj.error || '修改失敗');
            }
            info_bar.slideDown();

            setTimeout(()=>{
                info_bar.slideUp();
            }, 3000);
        })

    }
</script>
<%- include('../parts/html-foot') %>