<%- include('../parts/html-head') %>
<%- include('../parts/navbar') %>
<style>
    td>a>i.fa-trash {
        color: red;
    }
    table.table-striped > tbody>tr:hover {
        background-color: #aec2f5;
    }
</style>
<div class="container">
    <table class="table table-striped table-bordered">
        <thead>
        <tr>
            <th scope="col"><i class="fas fa-trash"></i></th>
            <th scope="col">編號</th>
            <th scope="col">姓名</th>
            <th scope="col">Email</th>
            <th scope="col">手機</th>
            <th scope="col">生日</th>
            <th scope="col">地址</th>
            <th scope="col"><i class="fas fa-edit"></i></th>
        </tr>
        </thead>
        <tbody>
        <% for(let i of rows){ %>
        <tr>
            <td>
                <a href="javascript: del_it(<%= i.sid %>)">
                    <i class="fas fa-trash"></i>
                </a>
            </td>
            <td><%= i.sid %></td>
            <td><%= i.name %></td>
            <td><%= i.email %></td>
            <td><%= i.mobile %></td>
            <td><%= i.birthday2 %></td>
            <td><%= i.address %></td>
            <td>
                <a href="/address-book/edit/<%= i.sid %>">
                    <i class="fas fa-edit"></i>
                </a>
            </td>
        </tr>
        <% } %>
        </tbody>
    </table>
</div>

<%- include('../parts/scripts') %>
<script>
    function del_it(sid){
        if(confirm(`確定要刪除編號為 ${sid} 的資料嗎?`)){
            location.href = '/address-book/del/' + sid;
        }
    }
</script>
<%- include('../parts/html-foot') %>